{% extends 'layout/default.twig' %}

{% block content %}
  <h3>{{ title }}</h3>
  {% if form == TRUE %}
  <form action="" method="post">
    <div>
      <label for="login">Логин</label>
      <input type="text" name="login" required>
    </div>
    <div>
      <label for="pass">Пароль</label>
      <input type="text" name="pass" required>
    </div>
    <button type="submit">Регистрации</button>
  </form>
  {% endif %}
{% endblock %}
