{% extends 'layout/default.twig' %}

{% block content %}
  <h3>{{ title }}</h3>
  {% if form == TRUE %}
  <form action="" method="post">
    <div>
      <label for="login">Логин</label>
      <input type="text" name="login" required>
    </div>
    <div>
      <label for="pass">Пароль</label>
      <input type="text" name="pass" required>
    </div>
    <input type="hidden" name="typeForm" value="auth">
    <button type="submit">Регистрации</button>
  </form>
  {% endif %}
  {% if enterForm == TRUE %}
    <h3>Форма входа</h3>
    <form action="" method="post">
      <div>
        <label for="login">Логин</label>
        <input type="text" name="login" required>
      </div>
      <div>
        <label for="pass">Пароль</label>
        <input type="text" name="pass" required>
      </div>
      <input type="hidden" name="typeForm" value="enter">
      <button type="submit">Войти</button>
    </form>
  {% endif %}
  {% if searchLogin == TRUE %}
  <form action="Chat" method="post">
    <div>
      <label for="login">Введите логин для чата</label>
      <input type="text" name="login" required>
    </div>
    <input type="hidden" name="typeForm" value="search">
    <button type="submit">Поиск чата</button>
  </form>
  {% endif %}
  {% if searchLogin == TRUE %}
  <div><a href="ExitChat">Выход</a></div>
  {% endif %}
{% endblock %}
