{% extends 'layout/default.twig' %}

{% block content %}
    <h3>{{ title }}</h3>
    <form action="Chat" method="post">
      <div>
        <label for="login">Введите логин для чата</label>
        <input type="text" name="login" required>
      </div>
      <button type="submit">Поиск чата</button>
    </form>
    <div><a href="ExitChat">Выход</a></div>
{% endblock %}
